/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  /* debug */
  height: 400px;
  background-color: blue;
}

/* //Header */

/* Main */

main {
  /* debug */
  height: 300px;
  background-color: red;
}

.slogan {
  height: 200px;
  background-color: gray;
}

/* //Main */
