/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  height: 700px;
  background-color: blue;
  background-image: url(img/fluentify-jumbo.png);
  background-size: 1000px 500px;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.logo {
  padding: 2% 5%;
  display: inline-block;
}

#main-logo {
  height: 50px;
}

.first,.second {
  display: inline-block;
}

.second {
  margin-left: 140px;
}

.navlist {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

ul li {
  display: inline-block;
  padding: 0 13px;
}

.button {
 border: 2px solid white;
 border-radius: 5px;
 color: white;
 padding: 15px 22px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}

.button1 {
  background-color: inherit;
}

.button2 {
  background-color: green;
}

.title {
  position: absolute;
  bottom: 40%;
  left: 5%;
  width: 40%;
}

h1 {
  color: white;
  font-size: 76px;
}

.button3 {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: green;
  position: absolute;
  left: 5%;
  bottom: 20%;

}

/* //Header */

/* Main */

main {
  /* debug */
  height: 600px;
  background-color: red;
}

/* Slogan */

.slogan {
  height: 200px;
  background-color: gray;
}

/* //Slogan */

/* Course plan */

.course-plan1::after,.course-plan2::after {
  content: "";
  display: table;
  clear: both;
}

.course-plan1 {
  border-bottom: 3px solid black;
}


.formative-plan,.tutor,.monitoring {
  float: left;
  width: 30%;
  /* debug */
  height: 300px;
  background-color: yellow;
}

.tutor {
  margin: 0 5%;
}

.graphic, .discover {
  float: left;
  width: 45%;
  /* debug */
  height: 300px;
  background-color: green;
}

.discover {
  margin-left: 10%;
}

/* //Course plan */

/* Action */

.action {
  height: 70px;
  background-color: gray;
}

/* //Action */

/* //Main */
